<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" /></specFlow>
  <appSettings>
    
    <add key="DropZone" value="Task\DropZone\Input.txt" />
    <add key="OutputFolder" value="Task\UI_Server\CSVs" />
    <add key="OutputFilePath" value="Task\UI_Server\CSVs\black_box_results.csv" />
    <add key="BlackBoxProgram" value="Task\backend.jar" />
    <add key="UIServer" value="server.js" />
    <add key="UIServerFolder" value="Task\UI_Server\" />
    <add key="Url" value="http://localhost:8080/" />
    <add key="Host" value="http://localhost" />
    <add key="Port" value="8080" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Drivers" value="Drivers" />
    </appSettings> 
</configuration>